<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <% if (user) {%>
        <h1>WELCOME </h1>
        <h1 style="text-transform: uppercase;">
            <%= user.username %>
        </h1>
        <button onclick="handleLogout(event)">LOGOUT</button>
        <% } else { %>
            <h1>Please Login</h1>
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <input name="username" placeholder="username" type="text" />
                <label for="password">Password</label>
                <input name="password" type="password" />
                <button>LogIn</button>
            </form>
            <%}%>
</body>
<script>
    var handleLogout = (e) => {
        window.location.href = "/logout"
    }
</script>

</html>