<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Basics</title>
</head>

<body>
    <h1>Hello!</h1>
    <button onclick="handleLogin(event)">Login</button>
    <button onclick="handleSignup(event)">Sign up</button>
</body>
<script>
    let handleLogin = (event) => {
        window.location.href = "/login"
    }
    let handleSignup = (event) => {
        window.location.href = "/signup"
    }
</script>


</html>